* {
  margin: 0;
  padding: 0;
}

/* -----------ĐÂY LÀ CSS CHO MÀN HÌNH CHÍNH BACK 1 ---------------*/
.background-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%), url('../public/image/back2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 700px;
}

.content-back1 {
  position: absolute;
  bottom: 5%;
  left: 8%;
}

.button-white {
  background-color: white;
  color: black;
  padding: 2% 5%;
  width: auto;
  border: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.title-infor {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.button-white:hover {
  background-color: gray;
}

/* -------------------- HẾT CSS CHO BACK1 --------------*/
/*==================== ĐÂY LÀ CSS CHO NAVBAR============*/
 .Hidden-Customer {
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  z-index: 1;
} 
.container-customer{
  height: 400px;
  width: 100%;
  background-color: white;
  display: flex;
}
.menu-container {
  display: grid;
  margin-top: 2%;
  margin-left: 10%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  height: 30%;
  align-items: center;
}
.menu-item {
  padding: 0px 40px;
}
.item-option{
  font-size: 18px;
  padding: 0px 10px;
}
.item-option:hover{
  color: gray;
}
.img-customer{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  margin-left: 10%;
  margin-top: 2%;
}

/* ================= ĐÂY LÀ CSS CHO LISTCAR =============================*/
.Box-Button-ListCars {
  margin-top: 2%;
  margin-left: 2%;
}

.Button-ListCars {
  border: none;
  background-color: white;
  font-size: 25px;
  font-family: 'Teko', sans-serif;
  height: 5%;
  width: 5%;
}

.Button-ListCars:focus {
  border-bottom: 1px solid black;
}

.Model-Car {
  display: inline-block;
  margin-top: 2%;
  margin-left: 1%;
}

.Name-ListCars {
  display: flex;
  justify-content: center;
}

.Link-ListCars {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.Link-ListCars:hover {
  cursor: pointer;
}

.Image-ListCars:hover .Link-ListCars {
  text-decoration: underline;
}

.Image-ListCars {
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
}

.Image-ListCars:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ================ HẾT CSS CHO lISTCARS =====================*/

/* ================ ĐÂY LÀ CSS CHO DESCRIPTION CARS ================*/
.car-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.Big-Container {
  margin: 8%;
}

.Image-car {
  width: 100%;
  height: 100%;
}

.Des-Image {
  height: 100%;
  width: 80%;
  margin-left: 5%;
}

@media (max-width: 70em) {
  .car-container {
    grid-template-columns: 1fr;
    /* Chỉ một cột khi màn hình nhỏ hơn */
  }

  .Container-description {
    grid-row: 2;
    /* Di chuyển cột phải xuống dưới */
  }
}

.Container-description {
  display: flex;
  align-items: center;
}

.Box-DescriptionCars {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Name-Car {
  font-size: 50px;
  padding-right: 5%;
  font-family: 'Inconsolata', monospace;
}

.Des-car {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.container-button {
  display: inline-flex;
  margin-top: 5%;
}

.B-Discover {
  color: white;
  padding: 1rem 3rem;
  background-color: black;
  border: 1px black solid;
  font-size: 18px;
}

.B-Discover:hover {
  background-color: gray;
  border: 1px gray solid;
}

.B-Book {
  color: black;
  padding: 1rem 3rem;
  background-color: white;
  border: 1px black solid;
  font-size: 18px;
  margin-left: 1%;
}

.B-Book:hover {
  color: gray;
}

/* ================= ĐÂY LÀ KẾT THÚC CSS CHO DESCRIPTIONCARS================ */

/* ================= ĐÂY LÀ CSS CHO OUTSTANDINGCARS =====================*/
.Background-Outstanding {
  background-image: url('../public/image/Big-AudiA8L.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90rem;
  position: relative;
}

.Container-Content-Outstading {
  background-color: white;
  position: absolute;
  left: 4%;
  top: 7%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  top: 7%;
  width: 40%;
}

.Background-Outstanding:hover .Container-Content-Outstading {
  position: sticky;
}

.Outstanding-Name {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
}

.Outstanding-Des {
  color: rgb(51, 51, 51);
  font-size: 17px;
  word-wrap: break-word;
  font-family: 'Raleway', sans-serif;
}

/* .Container-Button-Outstanding{
  display: inline-flex;
} */

.Discover-Button-Outstanding {
  padding: 2% 8%;
  font-size: 20px;
  background-color: black;
  color: white;
}

.Book-Button-Outstanding {
  padding: 2% 8%;
  font-size: 20px;
  background-color: white;
  margin-left: 1%;
}

/* ================ ĐÂY LÀ CSS CHO FINDOUTMORE ==================*/
.Head-Title-FindOut {
  margin-top: 8%;
  margin-left: 2%;
}

.Container-FindOut {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.Box-FindOut {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.Title-FindOut {
  font-size: 20px;
}

.Option-FindOut {
  font-size: 16px;
  text-align: center;
}

.Image-FindOut {
  height: 100%;
  width: 100%;
}

.Image-FindOut,
.Option-FindOut,
.Title-FindOut {
  cursor: pointer;
}

/* ======================= HẾT CSS CHO FIND OUT MORE ================== */
/* ======================= ĐÂY LÀ CSS CHO FOOTER ====================== */
.Container-Footer {
  padding-top: 1%;
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
  margin-top: 5%;
}

.Box-Footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
}

.List-Footer {
  display: flex;
  width: 100%;
  margin-top: 1%;
  height: 100%;
}

.Content-Feature {
  display: flex;
  flex-direction: column;
}

.Container-Icon {
  display: flex;
  justify-content: space-between;
}

.List-Link-Footer {
  margin-top: 10%;
  font-size: 13px;
}

.Title-Feature{
  font-size: 25px;
}
.Title-Feature:hover {
  cursor: pointer;
  color: grey;
}

.List-Link-Footer:hover {
  cursor: pointer;
  color: grey;
}

.Container-BackToTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  margin: 0% 2%;
}

.Back-To-Top {
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.Back-To-Top:hover {
  cursor: pointer;
  color: grey;
}

.Container-Social-Media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3%;

}

.Box-Social-Media {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Social-Media {
  font-size: 13px;
}

.Social-Media:hover {
  cursor: pointer;
  color: grey;
}

/*============================ HẾT CSS CHO FOOTER ====================*/
/*============================ ĐÂY LÀ CSS CHO ALL MODELS==============*/
.All-Models {
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
}

.Contaiter-All-Models {
  width: 100%;
  height: 100%;
}

.View-all-models {
  margin-bottom: 2%;
}

.Box-All-Models {
  display: flex;
  height: 20%;
  height: 100%;
  margin-top: 10%;
}

.Title-All-Models {
  display: flex;
  width: 100%;
  flex-direction: column !important;
  margin-top: 5%;

}

.Open-Filter {
  position: sticky;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 1%; */
  top: 0;
}

.Box-Option-Filter {
  display: flex;
  align-items: center;
  margin-top: 10;
  font-family: 'Raleway, sans-serif';
  width: 40%;
  justify-content: space-around;
}
.Button-Filter{
  background-color: black;
  font-size: 30px;
  color: white;
  border: none;
  height: 100%;
  margin-left: 2%;
  padding: 7px;
}
.Option-Filter {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  height: 100%;
}
.Option-Filter:hover{
  color: gray;
}
/* .Option-Filter:focus{
  color: gray;
} */

@media (max-width: 70em) {
  .Left-All-Models {
    grid-template-columns: 1fr;
  }

  .Right-All-Models {
    grid-row: 2;
  }
}

.Left-All-Models{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Right-All-Models{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

/*==================== HẾT CSS CHO ALL MODELS ================*/
/*==================== ĐÂY LÀ CSS CHO INFOR-ETRONGT ===============*/
.Box-Overview {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  align-items: center;
  z-index: 1;
}

.Span-Overview {
  font-size: 18px;
}

.Catalog-Dimensions {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.Background-Infor {
  background-image: url('../public/img-EtronGT/background-Etron.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 615px;
  color: white;
}

.B-Test {
  background-color: white;
  border: 1px solid white;
  padding: 3% 7%;
  margin-right: 5%;
  font-size: 20px;
  width: 100%;
  white-space: nowrap;
}

.B-Test:hover {
  cursor: pointer;
  background-color: gray;
  border: gray 1px solid;
}

.B-Dealership {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
  padding: 3% 7%;
  margin-right: 5%;
  font-size: 20px;
  width: 100%;
  white-space: nowrap;
}

.B-Dealership:hover {
  cursor: pointer;
  color: rgb(210, 203, 203);
  border: 1px solid gray;
}

.Box-Highlight {
  display: flex;
  /* justify-content: space-around; */
  background-color: black;
  margin-bottom: 5%;
  /* color: white; */
  /* padding: 2%; */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Menu-Highlight {
  color: white;
  text-decoration: none;
  padding: 1% 0%;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5%;
}

/* ======================== ĐÂY LÀ CSS CHO HIGHLIGHT ETRONGT ============*/
.Box-Highlight-Audi {
  display: flex;
  margin-top: 5%;
  margin-bottom: 2%;
  justify-content: space-around;
}

.Highlight-Audi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container-Connectivity {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  /* Sử dụng chiều cao tự động */
  gap: 16px;
  /* Khoảng cách giữa các ô */
}

.Box-Connectivity {
  padding: 16px;
}




/*================== ĐÂY LÀ CSS CHO NEW & EVENTS =================*/
.Background-Events {
  background-image: url('../public/img-Events/New&Events.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 500px;
}

/*================ ĐÂY LÀ CSS CHO SEARCH MODEL ====================*/
.container-search{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-search{
  border: 1px solid black;
  height: 300px;
}